/*---
    #UNIVERSAL
              __*/

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(250, 250, 250);
    /* background-color: aliceblue; */
}

:root{
    /*---color---*/
    ---blue-color-primary-color: #3498db; /* Blue */
    ---solid-black: black; 
    ---white-color: rgb(255, 255, 255);
    ---red--primary-color: rgb(235, 136, 6);
}

/*---
    #CUSTOM STYLES
                  __*/
.flex-dis{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*---
    #TOPNAVBAR
              __*/

.top-nav-bar{
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(---blue-color-primary-color);
    padding: 3px 10px;
}
.top-nav-bar a{
    color: var(---white-color);
}
.top-contact{
    width: fit-content;
    gap: 20px;
    color: var(---white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-contact .fa-solid{
    color: var(---solid-black);
    margin-right: 5px;
}
.social-whatsapp{
    width: fit-content;
    gap: 30px;
}
.top-nav-social{
    width: fit-content;
    gap: 10px;
}
.top-whatsapp{
    width: fit-content;
    gap: 10px;
    background-color: var(---white-color);
    padding: 2px 5px;
    border-radius: 5px;
}
.top-whatsapp i{
    color: green;
    font-size: 24px;
}
.top-whatsapp a{
    color: var(---solid-black);
    font-weight: 900;
}

/*---
    #NAVMENU
              __*/

.nav-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(---red--primary-color);
    padding: 0px 10px;
}
.nav-logo img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 2px;
}
.link-pr{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu-links{
    display: flex;
    margin-right: 20px;
    gap: 25px;
}
.menu-link p a{
    color: var(---white-color);
    display: block;
}
.menu-link a i{
    display: none;
}
.nav-menu-links .menu-link{ 
    padding: 9px 0;
}
.menu-link.active-m-link{
    border-bottom: 3px solid var(---solid-black);
}
.menu-link:hover{
    border-bottom: 3px solid var(---blue-color-primary-color);
}
.nav-accounts h1{
    font-size: 14px;
    background-color: var(---blue-color-primary-color);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 900;
    color: var(---white-color);
}
.nav-accounts h1 a{
    color: var(---white-color);
}
.prof-image img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 2px;
    cursor: pointer;
}
.pr-spt-lnk{
    width: fit-content;
    position: absolute;
    top: 100%;
    right: 0%;
    padding: 1px 10px;
    background-color: rgb(235, 136, 6);
    border-radius: 5px;
    margin-top: 5px;
    z-index: 1;
    display: none;
    text-align: center;
}
.pr-spt-lnk .pr-lnk{
    margin: 10px 2px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(18, 145, 250);
}
.pr-spt-lnk .pr-lnk a{
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 900;   
}

/*---
    #BANNER
              __*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}
.container{
    position: relative;
    /* top: 50%;
    left: 50%; */
    /* transform: translate(-50%, -50%); */
    width: 100%;
    height: 70vh;
    /* background-color: rgba(8, 8, 8, 0.74); */
    /* box-shadow: 10px 5px 10px 5px rgb(0, 0, 0); */
}
.container .slide .item{
    width: 200px;
    height: 300px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border-radius: 20px;
    /* box-shadow: 2px 2px 2px 1px rgb(0, 0, 0); */
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    transition: 0.5s;
}
.slide .item:nth-child(0),
.slide .item:nth-child(1){
    top: 0;
    left: 0;
    transform: translate(0, 0);
    border-radius: 0;
    width: 100%;
    height: 100%;
}
.slide .item:nth-child(2){
    left: 60%;
}
.slide .item:nth-child(n+3){
    left: calc(60% + 300px);
    opacity: 1;
}
.item1{
    background-image: url(../images/bgh3.png);
}
.item2{
    background-image: url(../images/bgh2.png);
}
.item3{
    background-image: url(../images/bgh1.png);
}
.item .content{
    position: absolute;
    top: 30%;
    padding: 5px;
    left: 100px;
    width: 500px;   
    text-align: left;
    color: white;
    font-family: system-ui;
    display: none;
    /* background-color: #00000094; */
    border-radius: 5px;
    z-index: 1;
}
.slide .item:nth-child(1) .content{
    display: block;
}
.content .name{
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    opacity: 0;
    animation: animate .7s ease-in-out 0.3s 1 forwards;
}
.content .des{
    margin-top: 10px;
    margin-bottom: 20px;
    opacity: 0;
    animation: animate .7s ease-in-out 0.6s 1 forwards;
}
.content button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    animation: animate .7s ease-in-out 0.9s 1 forwards;
}

@keyframes animate{
    from{
        opacity: 0;
        transform: translate(0, 100px);
        filter: blur(33px);
    }
    to{
        opacity: 1;
        transform: translate(0);
        filter: blur(0);
    }
}
.btn{
    width: fit-content;
    text-align: center;
    position: absolute;
    bottom: 20px;
    margin: 0 calc(50% - 60px);
}
.btn button{
    width: 40px;
    height: 35px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    outline: none;
    border: 1px solid black;
    transition: 0.3s;
}
.btn button:hover{
    background-color: rgb(170, 170, 170);
    color: white;
}

@media (max-width: 450px) {
    .container{
        overflow-x: hidden;
        height: 60vh;
    }
    .slide .item:nth-child(2){
        left: 70%;
    }
    .item .content{
        left: 50px;
    }
    .content .name{
        font-size: 20px;
        width: 200px;
        
    }
    .content .des{
        width: 200px;
        font-size: 12px;
        
    }
}

/*---
    #ABOUT
              __*/

.about-us{
    width: 100%;
}
.sec-ttle{
    text-align: center;
    margin-top: 20px;
}
.sec-ttle h1{
    font-size: 24px;
}
.sec-ttle h4{
    font-size: 16px;
    margin: 10px auto;
}
.abt-cnt{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 20px;
    background-color: #ffffff;
}
.abt-cnt-r{
    position: relative;
    width: 48%;
    border-radius: 10px;
    margin: auto;
}
.abt-cnt-r .intro{
    width: 80%;
    height: 300px;
    color: rgb(114, 112, 112);
    margin: 30px auto;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 50px;
}
.abt-cnt-r img{
    width: 100%;
    height: 400px;
    border-radius: 10px;
    opacity: .2;
}
.abr-dec{
    background-color: var(---blue-color-primary-color);
    width: fit-content;
    padding: 10px 3px;
    border-radius: 50%;
    text-align: center;
    color: rgb(255, 255, 255);
}
.abd-t{
    position: absolute;
    left: 1%;
    top: 1%;
}
.abd-b{
    position: absolute;
    right: 1%;
    bottom: 1%;
}
.abt-cnt-l{
    width: 48%;
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}

/* services data*/

.service-data{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px auto;
}

.service-data-cnt{
    width: 150px;
    position: relative;
    background-color: rgba(201, 201, 201, 0.644);
    padding: 20px 10px;
    border-radius: 10px;
    text-align: center;
    margin: 10px auto;
}
.service-data-cnt h6{
    width: 40px;
    padding: 15px 10px;
    border-radius: 50%;
    background-color: rgb(231, 150, 27);
    position: absolute;
    right: -8%;
    top: -10%;
    font-size: 8px;
    color: rgb(255, 255, 255);
}
.service-data-cnt i{
    font-size: 40px;
    padding: 10px;
    color: rgb(231, 150, 27);
}
.service-data-cnt h4{
    font-size: 25px;
    margin-bottom: 10px;
    color: black;
}
.service-data-cnt p{
    font-weight: 900;
    color: rgb(8, 127, 238);
}

/* #Mision, Vision, Corevalues*/

.mision-vision-corevalues{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
    gap: 10px;
}
.mision-vision-corevalues .mvc{
    width: fit-content;
    height: 100Px;
    background-color: #000000;
    padding: 10px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    border: 2px s;
    margin: 10px auto;
}
.mvc .mivico-txt{
    position: fixed;
    height: fit-content;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background-color: rgb(194, 146, 15);
    width: 50%;
    border-radius: 10px;
    padding: 10px 20px;
}
.v-pop{
    bottom: 15%;
    right: -50%;
}
.m-pop{
    bottom: -5%;
    right: -50%;
}
.c-pop{
    bottom: -25%;
    right: -20%;
}
.mivico-txt p{
    margin-top: 10px;
    color: white;
    font-size: 12px;
}
.mivico-txt .fa-solid{
    background-color: red;
    padding: 5px 8px;
    border-radius: 50%;
    margin-top: 5px;
    text-align: right;
    color: white;
}
.covalues-lst{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.covalues-lst li{
    margin-left: 20px;
}
.mvc .smbl{
    margin-top: 20px;
}
.smbl i{
    font-size: 30px;
    color: white;
}
.smbl p{
    width: 100px;
    margin-top: 5px;
    font-weight: 900;
    color: white;
}

/* Get in touch in about us */
.about-get-in-touch{
    width: fit-content;
    background-color: #3498db;
    margin: auto;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
}
.about-get-in-touch a{
    color: white;
}

/*---
    #SERVICES
              __*/

.services-cont{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.918);
    padding: 40px 0px;
}
.d-flx{
    display: unset;
}
.d-grd{
    display: none;
}
.labour-out-sourcing{
    width: 70%;
    margin: 20px auto;   
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.labour-o-s-img-area{
    position: relative;
}
.labour-o-s-img-area .back-g{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: transparent;
    border: 10px solid rgb(4, 142, 255);
}
.labour-o-s-img-area img{
    top: -25%;
    left: 15%;
    position: absolute;
    height: 300px;
}
.labour-o-s-img-area i{
    position: absolute;
    font-size: 50px;
    bottom: 20%;
    left: 15%;
    z-index: 500;
    color: rgb(192, 137, 19);
    background-color: white;
    border: 10px solid black;
    padding: 30px 30px;
    border-radius: 50%;
}
.labout-o-s-txt-area {
    width: 60%;
    /* border-left: 3px solid rgb(255, 0, 0); */
    border-radius: 10px;
    /* background-color: rgba(4, 142, 255, 0.726); */
    padding: 10px;
}
.labout-o-s-txt-area h4{
    font-size: 30px;
    margin-bottom: 20px;
    /* color: white; */
}
.labout-o-s-txt-area p{
    line-height: 25px;
    text-align: left;
    padding-left: 8px;
    margin-bottom: 20px;
}
.labout-o-s-txt-area a{
    background-color: rgba(4, 142, 255, 0.726); ;
    padding: 5px 10px;
    color: rgb(255, 255, 255);
    margin-left: 80%;
    border-radius: 5px;
}

/* bord of managers */


.bord-of-management{
    width: 100%;
    background-color: #e7e7e7ee;
    margin: auto;
}
.bom-cnt{
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.mngrs{
    width: 45%;
    padding: 10px;
}
.mngr1{
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    margin: auto;
}
.mngr1 .img-cnt{
    position: relative;
    width: 90%;
    height: 200px;
    display: flex;
    align-items: center;
    margin: 10px auto;
    margin-top: 25px;
}
.img-cnt .nm-ps{
    text-align: center;
    line-height: 25px;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(211, 163, 4);
}
.img-cnt .fa-brands{
    position: absolute;
    left: 43%;
    bottom: 10%;
    background-color: white;
    border-radius: 50%;
    font-size: 36px;
    color: #3498db;
}
.mngr1 .img-cnt img{
    width: 48%;
    height: 240px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 50%;
    margin-right: 40px;
}
.mngr1 .mgr-txt-ctn{
    width: 60%;
    margin: 20px auto;
    margin-top: 40px;
    text-align: center;
    color: gray;
    font-size: 12px;
}
.mgr-txt-ctn .fa-solid{
    color: rgb(228, 129, 1);
    font-size: 24px;
    margin-bottom: 20px;
}

/*Testimonials*/

.tstmnls{
    width: 55%;
    padding: 10px;
}
.tstmnls-cnt{
    display: flex;
    justify-content: space-between;
}
.tst-cntnt{
    width: 70%;
    text-align: center;
    margin: 20px auto;
    padding-top: 25px;
    padding-bottom: 10px;
    background-color: white;
    border-radius: 10px;
}

.tst-cntnt img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 10px auto;
}
.tst-cntnt h4{
    margin: auto;
    font-size: 18px;
    margin-top: 20px;
}
.clnt-cmnt{
    font-size: 16px;
    color: rgb(150, 148, 148);
}
.clnt-cmnt i{
    color: rgb(214, 106, 4);
}
.tst-cntnt h5{
    margin-top: 5px;
    font-size: 10px;
    color: gray;
}
.trusted-by{
    width: 70%;
    margin: auto;
    text-align: center;
}
.lgs-cnt{
    width: fit-content;
    display: flex;
    margin: auto;
}
.cmplgs{
    width: 60px;
    height: 60px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 10px;
}
.cmplgs img{
    width: 80%;
    height: 80%;
    margin: auto;
    border-radius: 50%;
    margin-top: 10%;
}

.blog-posts{
    position: relative;
}
.blog-cnt{
    background-color: rgb(255, 255, 255);
    padding: 40px 20px;
    margin: 0px auto;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.blg-cnt-d{
    background-color: rgba(219, 219, 219, 0.918);
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid rgb(255, 0, 0);
}
.blog-d{
    width: 30%;
    background: white;
    border-radius: 5px;
}
/* .blog-d .img-b{
    background-color: #dbdbdb;
} */
.blog-d .img-b img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.blg-txt-cnt h4{
    width: fit-content;
    padding-bottom: 5px;
    font-size: 18px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(255, 0, 0);
}
.blg-txt-cnt p{
    margin-top: 10px;
    font-size: 12px;
    color: rgb(99, 96, 96);
}
.social{
    margin: 10px;
}

.dtls{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}
.dtls p{
    font-size: 10px;
    color: gray;
}
.dtls p Span{
    font-weight: 900;
    color: black;
}
.dtls h5{
    background-color: rgba(235, 235, 235, 0.993);
    padding: 2px 5px;
    border-radius: 5px;
    color: rgb(255, 0, 0);
    font-size: 10px;
}
.scl-icns{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px auto;
}
.scl-icns .engts{
    background-color: #3498db;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    font: 10px;
}
.scl-icns .engts i{
    margin-left: 5px;
}
.scl-icns .scl-icns-lnk a{
    margin-right: 10px;
    margin-top: 5px;
    color: #3498db;
}
.mr-blgs{
    width: fit-content;
    background-color: #3498db;
    font-size: 14px;
    padding: 5px 20px;
    border-radius: 5px;
    margin: 10px auto;
}
.mr-blgs a{
    color: white;
}
footer{
    background-color: #052249;
    color: white;
}
.footer-links{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    padding-top: 40px;
}
.footer-links h4{
    font-size: 24px;
    margin-bottom: 20px;
}
.cntct-info li{
    color: rgb(182, 178, 178);
}
.footer-links li{
    margin-top: 10px;
}
.footer-links li a{
    color: white;
}
.stay-updated{
    width: 250px;
}
.stay-updated p{
    color: rgb(182, 178, 178);
    font-size: 14px;
}
.stay-updated .sb-frm{
    display: grid;
}
.stay-updated .sb-frm input{
    width: 90%;
    height: 20px;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 5px;
    color: gray;
    margin-top: 10px;
}
.stay-updated .sb-frm button{
    width: fit-content;
    padding: 5px 5px;
    margin-top: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: white;
}
.copyright{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.copyright a{
    color: white;
}